---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  minReadySeconds: 60
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:26.3.3
        imagePullPolicy: Always
        args:
        - start
        - --import-realm
        ports:
        - name: http
          containerPort: 8080
        envFrom:
        - configMapRef:
            name: keycloak-env
      terminationGracePeriodSeconds: 180